<% layout('layouts/boilerplate')%>

<h1>All Athletes</h1>
<div>
    <a href="/athletes/new">Add Athlete</a>
</div>
<% for (let athlete of athletes){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=athlete.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title"><%= athlete.name %> </h4>
                <h5 class="card-title"><%= athlete.sport %> </h5>
                <p class="card-text">
                    <small class="text-muted"><%= athlete.city%></small>
                </p>
                <a class="btn btn-primary" href="/athletes/<%=athlete._id%>">View <%=athlete.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>